<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				
				background-color: transparent;
				padding-right: 50px;
				padding-left: 50px;
				margin-right: auto;
				margin-left: auto;
			}
			
			container {
				padding-right: 20px;
				padding-left: 20px;
				margin-right: auto;
				margin-left: auto;
			}
			
			h1 {
				color: white;
				text-align: center;
			}
			
			div {
				padding-right: 40px;
				padding-left: 40px;
				margin-right: auto;
				margin-left: auto;
				margin: auto;

			}
			
			
			 .carousel-inner > .item > img,
			 .carousel-inner > .item > a > img {
				width:640px;
				height:360px;
			 }
			
			.navbar-brand>img {
				height: 100%;
				
				width: auto;
			}

			.navbar-brand>img {
				display: block;
			}

			img {
				vertical-align: middle;
			}
			img {
				border: 0;
			}


			#featuresHeading{
				font-family:Mr Dafoe, sans-serif;
				 color: #202020;
				 text-align:center;
				background-color: #BDF0F9;
				letter-spacing: .05em;
				margin: 50px auto;
				text-align: center;
				text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
				color: #000000;
				opacity: 0.4;
				font: 700 80px ;
				font-weight: bold;
				
			}
			
			h3{
				letter-spacing: .05em;
				font-family:Mr Dafoe, sans-serif;
				text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
				color: #001F26;
				opacity: 0.6;
				font: 2000 200px ;
				font-weight: bold;
			}
			
			div.container {

				
			}
			
			p {
				font-family: verdana;
				font-size: 20px;
			}

		</style>
	</head>
</html>